///////////////////////////////////// Buttons ////////////////////////////////////////////////

// Button Colors;
$btn-primary:#ffffff;
$btn-secondary:#7f8ea4;;
$btn-success:#19b933;
$btn-danger:#f72239;
$btn-warning:#f9c13a;
$btn-info:#00aaff;
$btn-link:#ffffff;
$btn-default-text-color:#ffffff;

// Line Button hover color

$btn-primary-hover:#D5D7D9;
$btn-secondary-hover:#6F7D91;
$btn-success-hover:#1E9F37;
$btn-danger-hover:#CF273C;
$btn-warning-hover:#D0A53C;
$btn-info-hover:#0A93D9;
$btn-link-hover:#3E53FB;


///////////////////////////////////// Alerts ////////////////////////////////////////////////


// Alert big box colors;
$alert-warning:#f9c13a;
$alert-danger:#f72239;
$alert-success:#19b933;
$alert-info:#00aaff;
$alert-text-color:#ffffff;

// small alerts boxes;
$alert-primary-background:rgba(62, 83, 251, 0.1);
$alert-primary-border:#3E53FB;

$alert-secondary-background:#ffffff;
$alert-secondary-border:#D5D7D9;

$alert-success-background:rgba(25, 185, 51, 0.1);
$alert-success-border:#19b933;

$alert-danger-background:rgba(247, 34, 57, 0.1);
$alert-danger-border:#f72239;

$alert-warning-background:rgba(249, 193, 58, 0.1);
$alert-warning-border:#f9c13a;

$alert-info-background:rgba(0, 170, 255, 0.1);
$alert-info-border:#00aaff;

$alert-dark-background:#ACB0B4;
$alert-dark-border:#000000;
